.main {
    grid-area: main;
    background-color: #c0f5e8;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav" "content";
}

.nav {
    grid-area: nav;

}
.nav--ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    background-color: #80CED7;
}

.nav--ul>li {
    list-style: none;
    width: 6rem;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}
.nav--li1__active, .nav--li2__active, .nav--li3__active {
    background-color: #c0f5e8;
}

@media screen and (max-width: 44rem)  {
    .nav--ul {
        flex-direction: column;
        
    }
    .nav--ul>li {
        padding: 0.25rem;
    }
}


